Это необычная задача. Её цель — проинформировать вас о необходимости заполнить форму.

Прежде чем вы приступите к решению задач, мы хотим вам напомнить о необходимости заполнить форму по ссылке https://forms.ozon.ru/form/14a64266d811cc8af26ba560606848cf78. Форма закроется 27 августа (сегодня) в 23:59 (московское время). Пожалуйста, не забудьте заполнить эту форму.

Если вы уверены, что справитесь с заполнением формы в срок, то у вас есть возможность прямо сейчас получить дополнительные 5
 баллов! Не нужно форму заполнять прямо сейчас во время Контеста (она довольно длинная). Просто сделайте это после окончания Контеста до дедлайна.

В качестве решения этой задачи отошлите программу, которая выводит в стандартный вывод (консоль) фразу «I am sure that I will fill out the form by 23:59 on August 27, 2023.». Для получения баллов решение задачи надо отослать во время Контеста.

Входные данные
В этой задаче нет входных данных. Ваша программа не должна что-либо считывать.

Выходные данные
Выведите фразу «I am sure that I will fill out the form by 23:59 on August 27, 2023.» (без кавычек).

Пример